<!DOCTYPE html>
<html>
<head>
  <title>SimpleApiKeyEngine</title>
  <%= stylesheet_link_tag    "simpleapikeyengine/application", media: "all" %>
  <%= javascript_include_tag "simpleapikeyengine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
